__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
.DS_Store
vendor/
models/
storage/
frontend/node_modules/
frontend/dist/
dist/
server.log
standalone-app/.packaging/
standalone-app/build/
standalone-app/dist/
